svg {
  touch-action: auto;
}

a:not(.btn-purple):not(.dropdown-item) {
  color: #495057 !important;
}

a:not(.btn-purple):not(.dropdown-item):hover {
  color: #42265e !important;
}

.btn:focus {
  box-shadow: 0 0 0 2px rgba(165, 94, 234, 0.15);
}

.dropdown-item:active {
  color: #16181b;
  background-color: #f8f9fa;
}

.dropdown-item.active {
  color: #fff !important;
  background-color: #a55eea;
}

.selectgroup-input:checked + .selectgroup-button {
  border-color: #a55eea;
  color: #a55eea;
  background: #f6effd;
}

.selectgroup-input:focus + .selectgroup-button {
  border-color: #a55eea;
  color: #a55eea;
  box-shadow: 0 0 0 2px rgba(165, 94, 234, 0.25);
}

.leaflet-container {
  background: white !important;
}

.opacity-0 {
  opacity: 0;
}
